body {
  margin: 0 auto;
  background-color: lightblue;
  color: black;
  text-align: center;
}

#map {
  align-items: center;
}

.wrong-guesses {
  float: right;
  margin-right: 70px;
}

#wordSpotlight {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

.active {
  background-color: orange;
  color: #fff;
}

.container {
  margin: 50px;
}

.input-form {
  margin-top: 50px;
  text-align: center;
}

.row {
  text-align: center;
  margin: 10px;
}

.letter {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #000;
  text-transform: uppercase;
  background-color: yellow;
}

.letter:hover {
  background-color: green;
  color: yellow;
  cursor: pointer;
}

.space-bar {
  display: inline-block;
  padding: 12px 110px;
  border: 1px solid #000;
  text-transform: uppercase;
  background-color: yellow;
}

#reset {
  background-color: yellow;
  border: 1px solid #000;
  padding: 12px 25px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

#reset:hover {
  background-color: green;
  color: yellow;
  cursor: pointer;
  /* text-transform: uppercase; */
}
